body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}
#basic .bold-text {
  font-weight: bold;
}